{% extends "base.html" %}
{% block content %}
    <article>
        <!--If there are equipment -->
        <div class="card bg-light ms-1 me-4 mb-4 mt-0">
            <div class="card-header">
                <i class="fa-solid fa-list fa-lg me-2"></i>Equipment
            </div>
            <div class="card-body">
                <p class="card-text">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th scope="col">Number</th>
                            <th scope="col">Description</th>
                            <th scope="col">Type</th>
                            <th scope="col">Department</th>
                            <th scope="col">Last Check</th>
                            <th scope="col">Next Check</th>
                            <th scope="col">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>{{ equipment.id }}</td>
                            <td>{{ equipment.description }}</td>
                            <td>{{ equipment.type }}</td>
                            <td>{{ equipment.department }}</td>
                            <td>{{ equipment.last_checked_date|default_if_none:'' }}</td>
                            <td>{{ equipment.next_check_date|default_if_none:'' }}</td>
                            <td>
                                <button type="button" class="btn btn-success me-1"
                                        href="{% url 'view-equipment' equipment.id %}"
                                        data-bs-toggle="modal"
                                        data-bs-target="#myModal1{{ equipment.id }}">
                                    <i class="fa-solid fa-circle-info fa-lg"></i>
                                </button>

                                <!-- Modal - Delete Equipment -->
                                <div class="modal" id="myModal1{{ equipment.id }}" tabindex="-1"
                                     aria-labelledby="myModalLabel1" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <i class="fa-solid fa-circle-info fa-lg me-2"></i>
                                                <h5 class="modal-title">
                                                    Equipment Description: {{ equipment.description }}
                                                </h5>
                                                <button type="button" class="btn-close"
                                                        data-bs-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true"></span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <table class="table table-hover">
                                                    <tr>
                                                        <td>Type:</td>
                                                        <td><strong>{{ equipment.type }}</strong></td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            Manufacturer:
                                                        </td>
                                                        <td>
                                                            <strong>{{ equipment.manufacturer|default_if_none:'' }}</strong>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            Model Number:
                                                        </td>
                                                        <td>
                                                            <strong>{{ equipment.model_number|default_if_none:'' }}</strong>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            Year of Manufacture:
                                                        </td>
                                                        <td>
                                                            <strong>{{ equipment.year_of_manufacture|default_if_none:'' }}</strong>
                                                        </td>

                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            Serial Number:
                                                        </td>
                                                        <td>
                                                            <strong>{{ equipment.serial_number|default_if_none:'' }}</strong>
                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <td>
                                                            Part Number:
                                                        </td>
                                                        <td>
                                                            <strong>{{ equipment.part_number|default_if_none:'' }}</strong>
                                                        </td>

                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            Department:
                                                        </td>
                                                        <td>
                                                            <strong>{{ equipment.department }}</strong>
                                                        </td>

                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            Acquisition Date:
                                                        </td>
                                                        <td>
                                                            <strong>{{ equipment.acquisition_date|default_if_none:'' }}</strong>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            Acquisition Value:
                                                        </td>
                                                        <td>
                                                            <strong>{{ equipment.acquisition_value|floatformat:2 }} {{ e.currency_code }}</strong>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            Last Checked Date:
                                                        </td>
                                                        <td>
                                                            <strong>{{ equipment.last_checked_date|default_if_none:'' }}</strong>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            Next Checked Date:
                                                        </td>
                                                        <td>
                                                            <strong>{{ equipment.next_check_date|default_if_none:'' }}</strong>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                            <div class="modal-footer">
                                                <form action="{% url 'delete-equipment' equipment.id %}"
                                                      method="post">
                                                    {% csrf_token %}
                                                    <button class="btn btn-danger" type="submit">Delete
                                                    </button>
                                                </form>
                                                <button type="button" class="btn btn-secondary"
                                                        data-bs-dismiss="modal">Close
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <a class="btn btn-warning" href="{% url 'edit-equipment' equipment.id %}">
                                    <i class="fa-solid fa-pen-to-square fa-lg"></i>
                                </a>

                                <button type="button" class="btn btn-danger me-1"
                                        href="{% url 'delete-equipment' equipment.id %}"
                                        data-bs-toggle="modal"
                                        data-bs-target="#myModal2{{ equipment.id }}">
                                    <i class="fa-solid fa-trash-can fa-lg"></i>
                                </button>

                                <!-- Modal - Delete Equipment -->
                                <div class="modal" id="myModal2{{ equipment.id }}" tabindex="-1"
                                     aria-labelledby="myModalLabel2" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <i class="fa-solid fa-trash-can fa-lg me-2"></i>
                                                <h5 class="modal-title"> Delete Equipment</h5>
                                                <button type="button" class="btn-close"
                                                        data-bs-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true"></span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <h2>Are you sure you want to delete
                                                    "{{ equipment.description }}"?</h2>
                                            </div>
                                            <div class="modal-footer">
                                                <form action="{% url 'delete-equipment' equipment.id %}"
                                                      method="post">
                                                    {% csrf_token %}
                                                    <button class="btn btn-danger" type="submit">Delete
                                                    </button>
                                                </form>
                                                <button type="button" class="btn btn-secondary"
                                                        data-bs-dismiss="modal">Close
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                </p>
            </div>
        </div>
    </article>

{% endblock %}