<table class="table table-hover">
    <tr>
        <td>Type:</td>
        <td><strong>{{ eq.type }}</strong></td>
    </tr>
    <tr>
        <td>
            Manufacturer:
        </td>
        <td>
            <strong>{{ eq.manufacturer|default_if_none:'' }}</strong>
        </td>
    </tr>
    <tr>
        <td>
            Model Number:
        </td>
        <td>
            <strong>{{ eq.model_number|default_if_none:'' }}</strong>
        </td>
    </tr>
    <tr>
        <td>
            Year of Manufacture:
        </td>
        <td>
            <strong>{{ eq.year_of_manufacture|default_if_none:'' }}</strong>
        </td>

    </tr>
    <tr>
        <td>
            Serial Number:
        </td>
        <td>
            <strong>{{ eq.serial_number|default_if_none:'' }}</strong>
        </td>
    </tr>

    <tr>
        <td>
            Part Number:
        </td>
        <td>
            <strong>{{ eq.part_number|default_if_none:'' }}</strong>
        </td>

    </tr>
    <tr>
        <td>
            Department:
        </td>
        <td>
            <strong>{{ eq.department }}</strong>
        </td>

    </tr>
    <tr>
        <td>
            Acquisition Date:
        </td>
        <td>
            <strong>{{ eq.acquisition_date|default_if_none:'' }}</strong>
        </td>
    </tr>
    <tr>
        <td>
            Acquisition Value:
        </td>
        <td>
            <strong>{{ eq.acquisition_value|floatformat:2 }} {{ eq.currency_code }}</strong>
        </td>
    </tr>
    <tr>
        <td>
            Last Checked Date:
        </td>
        <td>
            <strong>{{ eq.last_checked_date|default_if_none:'' }}</strong>
        </td>
    </tr>
    <tr>
        <td>
            Next Checked Date:
        </td>
        <td>
            <strong>{{ eq.next_check_date|default_if_none:'' }}</strong>
        </td>
    </tr>
</table>