{% extends "base.html" %}
{% block content %}
    <article>
        <div class="card bg-light ms-1 me-4 mb-4 mt-0">
            <div class="card-header">
                <i class="fa-solid fa-list fa-lg me-2"></i>Users
            </div>
            <div class="card-body">
                <p class="card-text">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th scope="col">User ID</th>
                            <th scope="col">Username</th>
                            <th scope="col">First Name</th>
                            <th scope="col">Last Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for user in  users %}
                            <tr>
                                <td>{{ user.id }}</td>
                                <td>{{ user.username }}</td>
                                <td>{{ user.first_name }}</td>
                                <td>{{ user.last_name }}</td>
                                <td>{{ user.email }}</td>
                                <td>
                                    <button type="button" class="btn btn-success me-1"
                                            href="#" data-bs-toggle="modal"
                                            data-bs-target="#myModal{{ user.id }}">
                                        <i class="fa-solid fa-circle-info fa-lg"></i>
                                    </button>

                                    <!-- Modal - View Equipment -->
                                    <div class="modal" id="myModal{{ user.id }}" tabindex="-1"
                                         aria-labelledby="myModalLabel1" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">

                                                    <img class="rounded rounded mx-auto d-block" src="{{ user.profile.image.url }}"
                                                         height="180"
                                                         loading="lazy"/>


                                                    <div>
                                                    </div>
                                                </div>
                                                <div class="modal-body">
                                                    {% include 'partials/user-info.html' %}
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                            data-bs-dismiss="modal">Close
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <button type="button" class="btn btn-danger me-1"
                                            href="#"
                                            data-bs-toggle="modal"
                                            data-bs-target="#myModal2{{ user.id }}">
                                        <i class="fa-solid fa-trash-can fa-lg"></i>
                                    </button>

                                    <!-- Modal - View Delete User -->
                                    {% include 'partials/modal-delete-user.html' %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </article>

{% endblock %}