<table class="table table-hover table-borderless">
    <tr>
        <td>Username:</td>
        <td><strong>{{ user.username }}</strong></td>
    </tr>
    <tr>
        <td>Name:</td>
        <td><strong>{{ user.full_name }}</strong></td>
    </tr>
    <tr>
        <td>
            Role:
        </td>
        <td>
            <strong>{{ user.role }}</strong>
        </td>
    </tr>
    <tr>
        <td>
            Email:
        </td>
        <td>
            <strong>{{ user.email }}</strong>
        </td>
    </tr>
    <tr>
        <td>
            Last Logged:
        </td>
        <td>
            <strong>{{ user.last_login }}</strong>
        </td>
</table>